<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>String</string>
	<key>NSContactsUsageDescription</key>
	<string>Klu needs access to your contacts to provide contact-related functionality</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>String</string>
	<key>NSFileProviderPresenceUsageDescription</key>
	<string>Klu needs full disk access to help you access and organize your files</string>
	<key>SMAppServiceTypeLoginItem</key>
	<string>com.humans.klu</string>
</dict>
</plist>
