<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ContentFarms</key>
    <array>
        <string>ehow.com</string>
        <string>wikihow.com</string>
        <string>answers.com</string>
        <string>quora.com</string>
        <string>medium.com</string>
        <string>buzzfeed.com</string>
        <string>lifehacker.com</string>
        <string>thoughtcatalog.com</string>
        <string>listverse.com</string>
        <string>brightside.me</string>
        <string>boredpanda.com</string>
        <string>distractify.com</string>
        <string>ranker.com</string>
        <string>thethings.com</string>
        <string>screenrant.com</string>
        <string>therichest.com</string>
        <string>thetrendspotter.net</string>
        <string>thegamer.com</string>
        <string>whatculture.com</string>
        <string>makeuseof.com</string>
    </array>
    <key>SpamDomains</key>
    <array>
        <string>spamsite123.xyz</string>
        <string>freeoffers.online</string>
        <string>quickmoney.site</string>
        <string>fastcash.icu</string>
        <string>bestoffer.top</string>
        <string>vipaccess.club</string>
        <string>dealsdaily.shop</string>
        <string>streamfree.live</string>
        <string>premiumdeals.vip</string>
        <string>megasale.store</string>
        <string>trendynews.buzz</string>
        <string>gamezone.fun</string>
        <string>remotejob.work</string>
        <string>winprizes.click</string>
        <string>cryptomine.space</string>
        <string>freegames.monster</string>
        <string>instantwin.cyou</string>
        <string>infobase.info</string>
        <string>streamhub.sbs</string>
        <string>surveyrewards.quest</string>
    </array>
    <key>LowQualityBlogs</key>
    <array>
        <string>*.blogspot.*</string>
        <string>*.wordpress.com</string>
        <string>*.wixsite.com</string>
        <string>*.weebly.com</string>
        <string>*.medium.com</string>
        <string>*.tumblr.com</string>
        <string>*.blogger.com</string>
        <string>*.squarespace.com</string>
        <string>*.ghost.io</string>
        <string>*.strikingly.com</string>
        <string>*.over-blog.com</string>
        <string>*.typepad.com</string>
        <string>*.livejournal.com</string>
        <string>*.edublogs.org</string>
        <string>*.postach.io</string>
        <string>*.write.as</string>
        <string>*.bearblog.dev</string>
        <string>*.ghost.io</string>
        <string>*.strikingly.com</string>
        <string>*.over-blog.com</string>
        <string>*.typepad.com</string>
        <string>*.livejournal.com</string>
        <string>*.edublogs.org</string>
    </array>
    <key>SEOSpam</key>
    <array>
        <string>trustpilot.com</string>
        <string>sitejabber.com</string>
        <string>toptenreviews.com</string>
        <string>consumersadvocate.org</string>
        <string>top10.com</string>
        <string>bestreviews.com</string>
        <string>wirecutter.com</string>
        <string>cnet.com</string>
        <string>pcmag.com</string>
        <string>techradar.com</string>
        <string>tomsguide.com</string>
        <string>digitaltrends.com</string>
        <string>expertreviews.co.uk</string>
        <string>productreview.com.au</string>
        <string>reviewgeek.com</string>
        <string>consumeraffairs.com</string>
        <string>productreview.com</string>
        <string>reviews.io</string>
        <string>g2.com</string>
        <string>capterra.com</string>
    </array>
    </array>
    <key>UnreliableNews</key>
    <array>
        <string>infowars.com</string>
        <string>huffpost.com</string>
        <string>breitbart.com</string>
        <string>msnbc.com</string>
        <string>theepochtimes.com</string>
        <string>dailykos.com</string>
        <string>globalresearch.ca</string>
        <string>alternet.org</string>
        <string>oann.com</string>
        <string>theintercept.com</string>
        <string>thegatewaypundit.com</string>
        <string>salon.com</string>
        <string>rt.com</string>
        <string>buzzfeednews.com</string>
        <string>sputniknews.com</string>
        <string>politico.com</string>
        <string>redstate.com</string>
        <string>motherjones.com</string>
        <string>dailywire.com</string>
        <string>rawstory.com</string>
        <string>hackernoon.com</string>
        <string>theverge.com</string>
        <string>wired.com</string>
        <string>techradar.com</string>

    </array>
    <key>Malicious</key>
    <array>
        <string>*.ru/download/*</string>
        <string>*.cn/setup/*</string>
        <string>*.tk/*</string>
        <string>*.ml/*</string>
        <string>*.ga/*</string>
        <string>*.cf/*</string>
        <string>*.gq/*</string>
        <string>*.su/*</string>
        <string>*.bit/*</string>
        <string>*.top/*</string>
        <string>*.xyz/files/*</string>
        <string>*.pw/*</string>
        <string>*.cc/download/*</string>
        <string>*.to/setup/*</string>
        <string>*.ws/*</string>
        <string>*.biz/files/*</string>
        <string>*.info/download/*</string>
        <string>*.me/setup/*</string>
        <string>*.io/files/*</string>
        <string>*.org/download/*</string>
    </array>
    <key>PseudoscienceSites</key>
    <array>
        <string>naturalnews.com</string>
        <string>mercola.com</string>
        <string>goop.com</string>
        <string>infowarsstore.com</string>
        <string>healthranger.com</string>
        <string>greenmedinfo.com</string>
        <string>collective-evolution.com</string>
        <string>healingcrystals.com</string>
        <string>energymuse.com</string>
        <string>crystalvaults.com</string>
        <string>holistichealing.com</string>
        <string>alternativemedicine.com</string>
        <string>psychicguild.com</string>
        <string>kasamba.com</string>
        <string>keen.com</string>
        <string>californiapsychics.com</string>
        <string>asknow.com</string>
        <string>holisticmedicine.com</string>
        <string>draxe.com</string>
        <string>wellnessmama.com</string>
    </array>
</dict>
</plist> 