<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Full access</key>
    <array>
        <string>archive.ph</string>
        <string>archive.is</string>
        <string>archive.today</string>
        <string>archive.fo</string>
        <string>archive.md</string>
        <string>12ft.io</string>
        <string>scihub.ru</string>
        <string>sci-hub.se</string>
        <string>sci-hub.st</string>
        <string>sci-hub.ee</string>
        <string>outline.com</string>
        <string>web.archive.org</string>
    </array>
    <key>Academic</key>
    <array>
        <string>scholar.google.com</string>
        <string>researchgate.net</string>
        <string>academia.edu</string>
        <string>sciencedirect.com</string>
        <string>jstor.org</string>
        <string>springer.com</string>
        <string>ieee.org</string>
        <string>webofscience.com</string>
        <string>arxiv.org</string>
        <string>pubmed.ncbi.nlm.nih.gov</string>
        <string>tandfonline.com</string>
        <string>semanticscholar.org</string>
        <string>worldcat.org</string>
        <string>eric.ed.gov</string>
        <string>proquest.com</string>
        <string>mendeley.com</string>
        <string>citeseerx.ist.psu.edu</string>
        <string>base-search.net</string>
        <string>core.ac.uk</string>
        <string>doaj.org</string>
    </array>
    <key>Reference</key>
    <array>
        <string>britannica.com</string>
        <string>merriam-webster.com</string>
        <string>oxfordlearnersdictionaries.com</string>
        <string>dictionary.cambridge.org</string>
        <string>collinsdictionary.com</string>
        <string>macmillandictionary.com</string>
        <string>thesaurus.com</string>
        <string>vocabulary.com</string>
        <string>wordreference.com</string>
        <string>etymonline.com</string>
        <string>investopedia.com</string>
        <string>howstuffworks.com</string>
        <string>encyclopedia.com</string>
    </array>
    <key>Science</key>
    <array>
        <string>nature.com</string>
        <string>science.org</string>
        <string>scientificamerican.com</string>
        <string>newscientist.com</string>
        <string>sciencedaily.com</string>
        <string>pnas.org</string>
        <string>nih.gov</string>
        <string>nasa.gov</string>
        <string>space.com</string>
        <string>nationalgeographic.com</string>
        <string>livescience.com</string>
        <string>phys.org</string>
        <string>sciencenews.org</string>
        <string>sciencealert.com</string>
        <string>popsci.com</string>
        <string>discovermagazine.com</string>
        <string>sciencefocus.com</string>
        <string>quantamagazine.org</string>
        <string>arstechnica.com/science</string>
        <string>smithsonianmag.com</string>
    </array>
    <key>Technology</key>
    <array>
        <string>github.com</string>
        <string>stackoverflow.com</string>
        <string>w3schools.com</string>
        <string>dev.to</string>
        <string>geeksforgeeks.org</string>
        <string>freecodecamp.org</string>
        <string>docs.microsoft.com</string>
        <string>developer.mozilla.org</string>
        <string>developers.google.com</string>
        <string>developer.apple.com</string>
        <string>aws.amazon.com/documentation</string>
        <string>cloud.google.com/docs</string>
        <string>azure.microsoft.com/documentation</string>
        <string>digitalocean.com/community/tutorials</string>
        <string>news.ycombinator.com</string>
        <string>techcrunch.com</string>
    </array>
    <key>News</key>
    <array>
        <string>cnn.com</string>
        <string>nytimes.com</string>
        <string>bbc.com</string>
        <string>reuters.com</string>
        <string>foxnews.com</string>
        <string>wsj.com</string>
        <string>nbcnews.com</string>
        <string>theguardian.com</string>
        <string>washingtonpost.com</string>
        <string>apnews.com</string>
        <string>bloomberg.com</string>
        <string>usatoday.com</string>
        <string>cbsnews.com</string>
        <string>abcnews.go.com</string>
        <string>npr.org</string>
        <string>forbes.com</string>
        <string>cnbc.com</string>
        <string>latimes.com</string>
        <string>nypost.com</string>
        <string>economist.com</string>
    </array>
    <key>FactChecking</key>
    <array>
        <string>reuters.com/fact-check</string>
        <string>apnews.com/hub/fact-check</string>
        <string>factcheck.afp.com</string>
        <string>fullfact.org</string>
    </array>
</dict>
</plist> 